<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Google Cloud Vision APIで遊んでみた</title>
  <script src="jquery-2.2.0.min.js"></script>
  <style href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css"></style>
</head>
<body>

  <header>
    <h1 class="title is-2">ランドマーク解析</h1>
    <h2 class="subtitle is-3">
      画像をアップロードするとGoogle Cloud Vision APIを用いて解析します
    </h2>
  </header>

  <!-- アップロードフォーム -->
  <form method="POST" enctype="multipart/form-data">
    <p><input name="file" type="file" accept="image/*"></p>
    <p><input type="submit" value="送信"></p>
  </form>

  <!-- エラー出力 -->
  <% if @err %>
  <div class="error">
    <%= @err %>
  </div>
  <% end %>

  <!-- 解析結果出力 -->
  <% if @landmark %>
  <div class="result">
    <p>ランドマークを検出しました</p>
    <table class="table is-bordered is-striped is-narrow">
      <tbody>
        <tr>
          <th>名称</th>
          <td><%= @landmark['description'] %></td>
        </tr>
        <tr>
          <th>信頼度</th>
          <td><%= @landmark['score'] %></td>
        </tr>
        <tr>
          <th>緯度</th>
          <td><%= @landmark['locations'][0]['latLng']['latitude'] %></td>
        </tr>
        <tr>
          <th>経度</th>
          <td><%= @landmark['locations'][0]['latLng']['longitude'] %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>

  <!-- アップロード画像 -->
  <canvas id="image"></canvas>

  <footer>
    <a href="https://github.com/Sa2Knight/vision-api-test">
      リポジトリ
    </a>
  </footer>
</body>

<!-- アップロードした画像を動的に表示 -->
<script>
  var ctx = document.querySelector("#image").getContext("2d");
  var img = new Image();
  img.src = "<%= @filepath %>";
  img.onload = function() {
    // 画像をフルサイズで描画
    $("#image").attr('width', img.width).attr('height', img.height);
    ctx.drawImage(img, 0, 0, img.width, img.height);
    // ランドマーク情報に合わせてラインを描画
    <% if @landmark %>
    var x1 = <%= @landmark['boundingPoly']['vertices'][0]['x'] %>;
    var x2 = <%= @landmark['boundingPoly']['vertices'][2]['x'] %>;
    var y1 = <%= @landmark['boundingPoly']['vertices'][0]['y'] %>;
    var y2 = <%= @landmark['boundingPoly']['vertices'][2]['y'] %>;
    ctx.strokeStyle = '#F55';
    ctx.lineWidth = 5;
    ctx.beginPath();
    ctx.moveTo(x1, y1);
    ctx.lineTo(x2, y1);
    ctx.lineTo(x2, y2);
    ctx.lineTo(x1, y2);
    ctx.lineTo(x1, y1);
    ctx.stroke();
    $("#image").css('max-width', '500px');
    <% end %>
  };
</script>

</html>
